@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Montserrat|Lato|Poppins:400,700|Quicksand:400,700');



.contactContent {
    /* width: calc(100% - 250px); */
    max-width: 749px;
    margin-right: auto;
    margin-left: auto;
    min-width: 289px;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}

.contactBox {
    color: darkgray;
    font-size: 1.2rem;
}

.icon-mail {
    color: orange;
}
.icon-linked {
    color: #0077B5
}
.icon-twitter {
    color: #1DA1F2;
}
.icon-github {
    color: #000;
}
a {
    text-decoration: none;
    color: red;
}

.mright {
    margin-right: 1.4rem;
}

.thank-you-section {
    text-align: center;
}

.portrait {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 9px rgba(0,0,0,.4);
  border-radius: 50px;
    
    background-image: url("./assets/portrait.jpg");
    float: left;
}

.clearFloat {
    clear: left;
}


@media only screen and (max-width: 650px) { 
    .portrait {
        float: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
